type: l3leaf
l3leaf:
  defaults:
    bgp_as: 65010
    uplink_interfaces: [Ethernet1, Ethernet2]
    uplink_switches: [ptp-tests-spine1, ptp-tests-spine2]
    uplink_ipv4_pool: 192.168.1.0/24
    vtep_loopback_ipv4_pool: 192.168.2.0/24
    loopback_ipv4_pool: 192.168.3.0/24
    ptp:
      enabled: true
      uplinks: [Ethernet1]
  nodes:
    - name: ptp-tests-leaf3
      id: 1
      uplink_switch_interfaces: [Ethernet15, Ethernet15]
      ptp:
        enabled: true
        # PTP configured on below interfaces.
        uplinks: [Ethernet1, Ethernet2]
    - name: ptp-tests-leaf4
      id: 2
      uplink_switch_interfaces: [Ethernet16, Ethernet16]
      ptp:
        enabled: false
    - name: ptp-tests-leaf5
      id: 3
      uplink_switch_interfaces: [Ethernet17, Ethernet17]
      ptp:
        enabled: true
